{% extends "base.html" %}

{% load static %}

{% block title %}{{ Phone.name }}{% endblock %}

{% block content %}
  <div class="container">
  <div class="header">
    <h5>
      <a href="{% url 'catalog' %}">Вернуться в каталог</a>
    </h5>
    <h1>{{ Phone.name }}</h1>
  </div>

  <div class="content">
    <img src="{{ phone.image }}" alt="{{ phone.name }}"/>
    <div>Стоимость: {{ phone.price }} ₽</div>
    <div>Дата выпуска: {{ Phone.release_date }}</div>
    <div>LTE: {{ phone.lte_exists|yesno:'есть,нет' }}</div>
  </div>
{% endblock %}
